/* google font "open sans" import link  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* reset all elements default styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* specific styles */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* common styles  */
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.color-primary {
  color: rgb(253, 110, 10);
}

.btn-primary,
.outline-btn {
  color: #fff;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  border-radius: 5px;
  border: 1px solid rgb(253, 110, 10);
  outline: 0;
  background: rgb(253, 110, 10);
  cursor: pointer;
}

.outline-btn {
  color: rgb(253, 110, 10);
  background: transparent;
}

.section-title {
  color: rgb(24, 24, 24);
  font-style: 35px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 30px;
}

.section-description {
  color: rgb(117, 117, 117);
  font-style: 18px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
}

/* header section styles  */
header {
  background-image: url("../assets/images/developer.png"),
    url("../assets/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  background-color: rgb(255, 248, 243);
  mix-blend-mode: overlay;
  height: 839px;
  padding-top: 50px;
}

/* nav section styles  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .title {
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

nav ul li a {
  color: rgb(71, 71, 71);
  font-size: 20px;
  line-height: 27px;
  transition: all 0.4s;
}

nav ul li a:hover {
  font-weight: 600;
}

/* banner section styles  */
header #banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 35px 0 230px;
}

#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content .semi-title {
  color: rgb(71, 71, 71);
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  margin-bottom: 18px;
}

#banner .banner-content .owner-name {
  color: rgb(24, 24, 24);
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  margin-bottom: 20px;
}

#banner .banner-content .banner-description {
  color: rgb(117, 117, 117);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-content .banner-btn {
  display: flex;
  gap: 30px;
}

#banner .banner-image img {
  width: 100%;
}

/* main section styles  */
main > section {
  margin-top: 130px;
}

/* about section styles  */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(255, 248, 243);
  padding: 130px 156px;
}

#about .about-container {
  text-align: center;
}

#about .about-container .self-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#about .about-container .self-info-container .info-title,
#about .about-container .self-info-container .info {
  color: rgb(117, 117, 117);
  font-style: 20px;
  font-weight: 700;
  line-height: 30px;
}
#about .about-container .self-info-container .info {
  color: rgb(71, 71, 71);
}
